.background {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url('https://content.totalwar.com/total-war/com.totalwar.www2019/uploads/2021/11/02111956/TWWH3_OgreKingdoms_Screenshot01.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.warhammerLogo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 600px;
}

.images {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.images > img {
	width: 50%;
	max-width: 590px;
}
